* {
  background-color: black;
  font-family: Helvetica, sans-serif;
  /* font-size: 22px; */
  color: seashell;
  opacity: 0.9;
}

header {
    position: fixed;
    border-bottom: 1px solid seashell;
    width: 100%;
    z-index: 1;
    height: 69px;
}

ul {
    text-align: right;
    float: right;
}

.navigation li {
    display: inline-block;
    list-style: none;
    font-size: 22px;
} 

 
.navigation {
    display: block;
    align-content: center;
} 

.logo {
    height: 50px;
}







