* {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 69px;
    align-items: center;
}


.logo {
    height: 50px;
    
}

ul {

}

/* .navigation {
    margin: right;
} */
.navigation li {
    display: inline-block;
    list-style: none;
    font-size: 22px;
}


























/* header {
    display: block;
    position: fixed;
    border-bottom: 1px solid seashell;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    height: 69px;
    background-color: black;
    justify-content: center;
}

ul {
    text-align: right;
    float: right;
}

.navigation li {
    display: inline-block;
    list-style: none;
    font-size: 22px;
} 

 
.navigation {
    display: block;
    align-content: center;
} 

.logo {
    height: 50px;
}


.background {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-size: 1200px 700px;
    height: 700px;
    width: 1200px;
    position: relative;
}


.mission {  
    font-size: 22px;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-size: 1200px 700px;
    background-position: top 69px center;
    height: 700px;
    width: 1200px;
}






 */
